<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Blog Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{blogpost.title}}" />
      <textarea id="blog-text" >{{ blogpost.blog_text}}</textarea>
    </div>
    <div>
      {{blogpost.like_count}} {{format_plural "point" blogpost.like_count}} by you on {{format_date blogpost.created_at}}
      |
      <a href="/post/{{blogpost.id}}">{{blogpost.comments.length}} {{format_plural "comment" blogpost.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>

  </article>
  <form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
  
</form>

<script src="/javascript/edit-blogpost.js"></script>
<script src="/javascript/delete-blogpost.js"></script>
<script src="/javascript/comment.js"></script>