<ol class="post-list">
  <li>
      {{#each blogposts as |blogpost|}}
    <article class="post">
      <div class="title">
        <a href="{{title}}" target="_blank">{{title}}</a>
        <span>({{blog_text}})</span>
      </div>
      <div class="meta">
        {{blogpost.like_count}} point(s) by {{blogpost.user.username}} on
        {{blogpost.created_at}}
        |
        <a href="/blogposts/{{blogpost.id}}">{{blogpost.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>