
<!--<article class="post">
  <div class="title">
    <a href="{{blogposts.title}}" target="_blank">{{blogposts.title}}</a>
    <span>({{blogposts.blog_text}})</span>
  </div>
  <div class="meta">
    {{blogposts.like_count}} point(s) by {{blogposts.user.username}} on
    {{blogpost.created_at}}
    |
    <a href="/blogposts/{{blogposts.id}}">{{blogposts.comments.length}} comment(s)</a>
  </div>
</article>-->

 {{> blogpost-info blogposts}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">like</button>
  </div>
</form>
{{/if}}

{{> comments blogposts.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/like.js"></script>
{{/if}}
